html,body {
	display: flex;
	flex-direction: column;
	align-items: center;
	font-family: Arial;
	height: 100%;
	justify-content: center;
}

.header {
	color: black;
	width: 100%;
	text-align: center;
	border-bottom: black solid 1px;
	padding: 10px;
}

#title {
	font-weight: bold;
	font-size: 48px;
}

.letterboard {
	margin: 15px;
}

.letter {
	color: white;
	margin: 4px;
	padding: 10px 5px;
	font-size: 32px;
	font-weight: bold;
	min-width: 32px;
	text-align: center;
	border: 1px solid black;
}

.row {
	display: flex;
}

.keyboard {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.key {
	border: 1px solid black;	
	font-size: 24px;
	padding: 10px 5px;
	border-radius: 5px;
	margin: 4px;
	text-align: center;
	min-width: 35px;
	background-color: white;
}
