html,body {
	display: flex;
	flex-direction: column;
	align-items: center;
	font-family: Arial;
	height: 100%;
	justify-content: center;
}

.header {
	color: black;
	width: 100%;
	text-align: center;
	border-bottom: black solid 1px;
	padding-bottom: 10px;
}

#title {
	font-weight: bold;
	font-size: 48px;	
}

.options {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.letterboard {
	margin: 15px;
}

.letter {
	color: white;
	margin: 4px;
	padding: 10px 5px;
	font-size: 32px;
	font-weight: bold;
	min-height: 37px;
	min-width: 42px;
	text-align: center;
	border: 1px solid black;
	cursor: default;
}

.row {
	display: flex;
	min-height: 60px;
}

.keyboard {
	display: flex;
	flex-direction: column;
	align-items: center;
	min-width: 475px;
}

.key {
	color: black;
	border: 1px solid black;	
	font-size: 24px;
	padding: 10px 5px;
	border-radius: 5px;
	margin: 4px;
	text-align: center;
	min-width: 37px;
	background-color: white;
	cursor: pointer;
}

.key:hover {
	font-weight: bold!important;
	border: 2px solid!important;
}

#dark, #circleback, #help, #friends {
	cursor: pointer;
}

.overlay {
	height: 0%;
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1;
	background-color: rgba(255,255,255);
	overflow-y: hidden;
	transition: 0.5s;
}

.overlay-content {
	margin: auto;
	margin-top: 20px;
	max-width: 475px;
	display: flex;
	flex-direction: column;
}

#howtoplay {
	font-size: 32px;
	font-weight: bold;
	display: flex;
	justify-content: space-between;
	min-height: 40px;
}

#friendTitle {
	font-size: 32px;
	font-weight: bold;
	display: flex;
	justify-content: space-between;
	min-height: 40px;
}

p {
	text-align: left;
	font-size: 14px;
}

.instructions {
	border-bottom: 1px solid black;
}

.closebtn {
    top: 20px;
    right: 20px;
    font-size: 25px;  
	padding: 4px 8px;
    text-decoration: none;
    font-size: 24px;
	color: black;
	border-radius: 10px;
	font-weight: normal;
	border: 1px solid black;
}

.closebtn:hover {
	font-weight: bold!important;
	border: 2px solid!important;
}

#alert {
	position: absolute;
	display: flex;
	text-align: center;
	align-items: center;
	justify-content: center;
	min-width: 220px;
	min-height: 40px;
	max-width: 220px;
	top: 43%;
	left: 50%;
	z-index: 1;
	margin-top: -20px;
	margin-left: -110px;
	background-color: red;
	opacity: 0;
	border-radius: 10px;
	white-space: pre;
}